<!DOCTYPE html>
<html>
<head>
	<title>Tweetlytics</title>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="static/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.svg" />

</head>
<body>
<h1 class="title">Tweetlytics Graph Search</h1>

<form class="form" action="showSchedule" method="POST">
    <input class="formbox" type="text" name="twitter_search_term" placeholder="Search Term">
    <input class="formbox num_input" type="text" name="number_objects" placeholder="300">
    <br>
	<input class="formbox" type="submit" href="/showGraph" name="my-form" value="Show Graph"/>
</form>

<!-- graph output here -->
<div class="graph">
    {% block content %}
    {{data | safe}}
    {% endblock %}
</div>

</body>
</html>